astroid
autopep8
beautifulsoup4
bokeh
casadi
catboost
click
cmake-format
cython
django
django-filter
djangorestframework
dtreeviz
exifread
fipy
flake8
flask
flask-admin
flask-mysql
flax
folium
gensim
gmsh
h5py
httpie
hyperspy
imagecodecs
ipykernel
ipyvtklink
ipywidgets
isort
itsdangerous
jax
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
KratosMultiphysics-all
maicos
matplotlib
meshio
MDAnalysis
mlflow
mpi4py
nb-lua-kernel
nbconvert
networkx
nltk
notebook
numba
numpy
octave-kernel
opencv-python
opengen
openpiv
openpyxl
orange3
ortools
pandas
pandas-profiling
pillow
pint
plotly
pre-commit
pyarrow
pycalphad
pycodestyle
pyinstaller
pyjac
pylint
pyomo
PyQt5
PyQt6
PySide6
pytest
pyvista
pyyaml
requests
rope
ruamel_yaml
scikit-learn
scikit_image
scipy
scipy
scons
scrapy
seaborn
spacy
sphinx
sphinx-toggleprompt
sphinxcontrib-bibtex
statsmodels
streamlit
sympy
tensorflow_addons
tensorflow_gpu
torch
torchvision
tqdm
voila
Werkzeug
wtforms
xgboost
xlrd
xlsxwriter
